*{
  /*Everything on the page*/
  margin: 20px 0;
  padding: 0;
  background-color: #282929;
  color: #23fa38;
}

body{
	/*web-safe*/
	font-family: Arial,Helvetica,sans-serif;
	font-size: 17px;
	font-weight: normal;
	/*same as above
	font: normal 16px Arial,Helvetica,sans-serif ;*/

	line-height: 1.6em;
	margin: 0;
}

a{
	text-decoration: none;
	color: #000;

}

a:hover{
	color: red;
}

a:active{
	color: green;
}

a:visited{
	color: teal;
}
